body {
	background-color: #fff;
	font-family: Helvetica, Arial, Verdana, sans-serif;	
	background-image: url('../images/ttbackground.png');
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center bottom;
	height: 90rem;
	overflow: auto;
}

.logo {
	float: left;
	margin-left: 20em;
	margin-top: -130px;
}

h1, #feedbackYes, #feedbackNo {
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}

h1 {
	margin: 70px auto;
	font-size: 3.125rem;
	color: red;
	outline-color: black;
	outline-width: 100;
}

h2 {
	margin: 0 auto;
	float: right;
	margin-right: 150px;
	font-size: 20px;
	padding-top: 80px;
	display: inline-block;
}

h3 {
	margin-top: -40px;
	font-size: 1.525rem;
	font-weight: 200;
	text-align: center;
}

h2, h3, .question, #answer_holder, #factInfo, .resultPage {
	font-family: 'Philosopher', sans-serif;
}

#questionSegment {
	width: 450px;
	text-align: justify;
	height: 400px;
	margin: 0 auto;
	font-size: 25px;
	padding-top: 80px;
	color: red;
}

#answer_holder {
	margin-left: 100px;
	margin-top: 20px;
	line-height: 35px;
	color: black;
	list-style: none;
}

#buttonSubmit {
	width: 100%;
	text-align: center;
	vertical-align: top;	
}

#submitButton {
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
	color: black;
	background-color: pink;
}


#feedbackYes {
	color: #B22222;
}

#feedbackYes, #feedbackNo {
	width: 100%;
	text-align: center;
	vertical-align: top;
	margin-top: -85px;
	font-weight: 100;
	font-size: 1.525rem;
	display: none;
	

}

#factInfo {
	width: 450px;
	text-align: justify;
	height: 400px;
	margin: 0 auto;
	font-weight: 100;
	font-size: 1.225rem;
	margin-top: 50px;
	
}



.resultPage {
	width: 100%;
	height: 100%;
	color: #fff;
	background: ;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

.content {
	color: #fff;
	background: #d22d2d;
	position: relative;
	height: 500px;
	width: 800px;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);

}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content h2 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
}

.content > ul li {
	width: 700px;
	padding: 5px 0;	
	margin-top: 50px;
	text-align: left;
	font-size: 1.5em;
}

.content > a {
	font-size: 20px;
	margin-top: 50px;
	border-radius: 5px;
	color: black;
	background-color: pink;
	padding: 0.5em 1em;
}

a {
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
	margin-top: -500px;
	border-radius: 5px;
	color: red;
	font-weight: 500;
	float: right;
	margin-right: 120px;	
}