body {
	background-color: #fff;
	font-family: Helvetica, Arial, Verdana, sans-serif;	
	background-image: url('../images/ttbackground.png');
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center bottom;
	height: 90rem;
	overflow: auto;
}

.logo {
	float: left;
	margin-left: 20em;
	margin-top: -130px;
}

h1, #feedbackYes, #feedbackNo {
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}

h1 {
	margin: 70px auto;
	font-size: 3.125rem;
	color: red;
	outline-color: black;
	outline-width: 100;
}

h3 {
	margin-top: -40px;
	font-size: 1.525rem;
	font-weight: 200;
	text-align: center;
}

h3, .question, #answer_holder, #factInfo {
	font-family: 'Philosopher', sans-serif;
}

#questionSegment {
	width: 450px;
	text-align: justify;
	height: 400px;
	margin: 0 auto;
	font-size: 25px;
	padding-top: 80px;
	color: red;
}

#answer_holder {
	display: inline-block;
	margin-left: 100px;
	margin-top: 20px;
	line-height: 35px;
	color: black;
}

#buttonSubmit {
	width: 100%;
	text-align: center;
	vertical-align: top;	
}

#submit {
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
	color: black;
	background-color: pink;
}

.question2, .question3, .question4, .question5 {
	display: none;
}

#feedbackYes {
	color: #B22222;
}

#feedbackYes, #feedbackNo {
	width: 100%;
	text-align: center;
	vertical-align: top;
	margin-top: -85px;
	font-weight: 100;
	font-size: 1.525rem;
	display: inline-block;
}

#feedbackNo {
	display: none;
}

#factInfo {
	width: 450px;
	text-align: justify;
	height: 400px;
	margin: 0 auto;
	font-weight: 100;
	font-size: 1.225rem;
	margin-top: -50px;
}

#factQuestion2, #factQuestion3, #factQuestion4, #factQuestion5 {
	display: none;
}