body {
	background-color: #fff;
	font-family: Helvetica, Arial, Verdana, sans-serif;	
	background-image: url('../images/ttbackground.png');
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center bottom;
	height: 90rem;
	overflow: auto;
}

.logo {
	display: block;
	margin-left: 1100px;
	margin-top: -120px;
}

h1, h3, #feedbackYes, #feedbackNo, #factResponse {
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}

h1 {
	margin: 70px auto;
	font-size: 3.125rem;
	color: red;
	outline-color: black;
	outline-width: 100;
}

h3 {
	font-size: 1.525rem;
	font-weight: 200;
}

#questionSegment {
	width: 500px;
	height: 400px;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 25px;
	padding-top: 80px;
	color: red;
}

#answer_holder {
	display: inline-block;
	margin-left: 180px;
	margin-top: 20px;
	line-height: 35px;
	color: black;
}
#buttonSubmit {
	margin-left: 180px;
}

#submit {
	font-size: 18px;
	margin-top: 20px;
	border-radius: 5px;
	color: black;
}

#feedbackYes {
	color: #B22222;
}

#feedbackYes, #feedbackNo {
	width: 100%;
	text-align: center;
	vertical-align: top;
	margin-top: -85px;
	font-weight: 100;
	font-size: 1.525rem;
	display: inline-block;
}

#feedbackNo {
	display: none;
}

#factResponse {
	width: 40%;
	font-weight: 100;
	font-size: 1.525rem;
	display: inline-block;
	vertical-align: top;
	margin-top: 70px;
	padding-left: 380px;
	padding-right: 380px;
}